.about-picture{
	margin-top: 10%;
	margin-bottom: 10%;
}

.down-arrow{
	display: flex;
	margin: auto;
	justify-content: center;
	.fa{
		color:#FBAF3C;
	}
}

.about-me{

	h2{
		font-size: 122px;
		margin: 0;
	}
	h3{
		font-size: 60px;
		margin: 0;
	}
}
