.about-picture{
	margin-top: 10%;
	background-size: cover;
	height: 75vh;
	@media screen and (max-width:400px){
       		height:none;
       		background-size: none;
     	}
	img{
	-webkit-filter: grayscale(1);
	  filter: grayscale(1);
	  }
	  h2{
	  	text-transform: uppercase;
	  	text-align: left;
	  	margin: 0;
	  	padding: 0;
	  	line-height: .8;
	  	font-size: 100px;
	  	@media screen and (max-width:400px){
       		font-size: 80px;
     	}
	  }
	  h3{
	  	text-transform: uppercase;
	  	text-align: left;
	  	margin: 0;
	  	font-weight: 500;
	  	padding: 0;
	  	line-height: .8;
	  	font-size: 45px;
	  	@media screen and (max-width:400px){
       		font-size: 25px;
     	}
	  }
}

.down-arrow{
	display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	margin: auto;
	justify-content: center;
	.fa{
		color:#B3B4B4;
	}
}

.about-me{

	h2{

		letter-spacing: 2px;
		font-size: 122px;
		font-weight: 700;
		margin: 0;
		line-height: 80px;
		@media screen and (max-width:400px){
       		font-size: 80px;
       		padding: 25px;
     	}
	}
	h3{
		font-size: 52px;
		letter-spacing: 2px;
		margin: 0;
		padding:0;
		font-weight: 500;
		@media screen and (max-width:400px){
       		font-size: 80px;
       		// padding: 25px;
     	}
	}
	p{
		font-size: 25px;
		@media screen and (max-width:400px){
       		font-size: 25px;
       		padding: 25px;
     	}
	}
}
