// Orange:
// #FBAF3C

// Grey:
// #B3B4B4

.summary{
	/* background-image: url(img/heroImage.jpg); */
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
  
 }

 .items{
 	
 	margin: 0 auto;
 	.item{
 		  width: 33.33%;
 		  float: left;
 	}
 }

 .wrapper{
 	max-width: 1200px;
 	margin: 0 auto;
 }
 .wrapperAbout{
 	max-width:900px;
 	margin: 0 auto;

 }

 .wrapperImg{
 	max-width: 800px;
 	margin: 0 auto;
 }

 .flexContainer{
 	display: -webkit-box;
 	 display: -moz-box;
 	 display: -ms-flexbox;
 	 display: -webkit-flex;
 	 display: flex;
 	align-items:center;
 	justify-content: space-between;

 }
 .padding{
 	padding-bottom: 10%;
 	padding-top: 10%;
 }

 .bio{
 	padding: 27px;
 	border: 1px solid #FBAF3C;
 	align-items: center;
 	justify-content:center;
 	margin: auto;
 	display: -webkit-box;
 	 display: -moz-box;
 	 display: -ms-flexbox;
 	 display: -webkit-flex;
 	 display: flex;
 }

 // .social-icons-top{
 // 	text-align: center;
 // 	a{
 // 		color:#FBAF3C;
 // 	}


 // }
 // .social-icons-top a:hover{
 // 	color:#B3B4B4;
 // }

 label{
 	background-color: #FBAF3C;
 	padding: 5px;
 	color: #fff;
 }
 .orange{
 	background:#FBAF3C;

 }


 .portfolio{
 
 	}
 
 h3{
 	font-size: 122px;
 	margin: 0;
 	letter-spacing: 2px;
 }
 path:hover{

 	fill:#000000;
 	transition: all .5s;
 }

 ::selection {
   background: #FBAF3C;
   }

.image{
	position: relative;
}

.social-icons-top{
	
	display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 999999999;
	right: 9px;
	bottom: 9px;
	color:#000000;
	letter-spacing: 5px;
	a{
		color:#000000;
	}
}
.social-icons-top a:hover{
	color:#fff;
}

span{
	color:#FBAF3C;
}

.grey{
	background:rgba(179, 180, 180, 0.15);
}
.main{
	margin-top: 124px;
}