// Orange:
// #FBAF3C

// Grey:
// #B3B4B4

.summary{
	/* background-image: url(img/heroImage.jpg); */
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
  
 }

 .items{
 	
 	margin: 0 auto;
 	.item{
 		  width: 33.33%;
 		  float: left;
 	}
 }

 .wrapper{
 	max-width: 1200px;
 	margin: 0 auto;
 }
 .wrapperAbout{
 	max-width:900px;
 	margin: 0 auto;

 }

 .wrapperImg{
 	max-width: 800px;
 	margin: 0 auto;
 }

 .flexContainer{
 	display: -webkit-box;
 	 display: -moz-box;
 	 display: -ms-flexbox;
 	 display: -webkit-flex;
 	 display: flex;
 	align-items:center;
 	-webkit-align-items: center;
 	justify-content: space-between;
 	-webkit-justify-content: space-between;

 }
 .padding{
 	padding-bottom: 10%;
 	padding-top: 10%;
 }

 .bio{
 	padding: 27px;
 	border: 1px solid #FBAF3C;
 	align-items: center;
 	justify-content:center;
 	margin: auto;
 	display: -webkit-box;
 	 display: -moz-box;
 	 display: -ms-flexbox;
 	 display: -webkit-flex;
 	 display: flex;
 }


 label{
 	background-color: #FBAF3C;
 	padding: 5px;
 	color: #fff;
 }
 .orange{
 	background:#FBAF3C;

 }


 .portfolio{
 
 	}
 
 h3{
 	font-size: 122px;
 	margin: 0;
 	letter-spacing: 2px;
 }
 path:hover{

 	fill:#08616A;
 	transition: all .5s;
 }

 ::selection {
   background: #FBAF3C;
   }

.image{
	position: relative;
	margin:auto;
}

.social-icons-top{
	
	display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	position: absolute;
	z-index: 999999999;
	right: 9px;
	bottom: 9px;
	color:#000000;
	letter-spacing: 5px;
	a{
		color:#000000;
	}
}
.social-icons-top a:hover{
	color:#46BA94;
}

span{
	color:#FBAF3C;
}

.grey{
	background:rgba(179, 180, 180, 0.15);
}
.main{
	// margin-top: 124px;
	@media screen and (max-width:400px){
	  margin-top: 97px;
	}
}

// Contact Starts

.contact-word{
	width: 50%;
	float: left;
	margin-right: 10%;
}



.flexContact{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	-webkit-justify-content:space-between;
	@media screen and (max-width:800px){
       		flex-direction:column;
       		-webkit-flex-direction: column;
       		padding:10px;
     	}
	
}
.contact{
	h3{
		@media screen and (max-width:400px){
       		font-size: 60px;
       		padding: 25px;
     	}
	}
}
.contact-paragraph{
		width: 50%;
	  	margin-right: 54px;
	  	@media screen and (max-width:400px){
	  		width: 100%;
	  	}
	h4{
		text-transform: uppercase;
		margin: 0;
		font-size: 23px;
		margin-top: 20px;
		@media screen and (max-width:400px){
       		font-size: 18px;
			padding: 10px;
     	}
	}
	a{
		color:#FBAF3C;
		transition: all .5s;
		&:hover{
			color:#08616A;
		}
	}
}
.fifty{
		// width: 50%;
		margin: 0;
		font-size: 25px;
		font-family: 'Open Sans',sans-serif;
		margin:0;
		@media screen and (max-width:400px){
       		padding: 10px;
       		font-size: 25px;
     	}
}

.fa-envelope-o{
	margin-right: 12px;
}


// Contact Ends


// Form Style Starts

.form{
	position: relative;
	right: 0;
	width: 50%;
	@media screen and (max-width:800px){
		width: 100%;
	}
	@media screen and (max-width:400px){
       		padding: 7px;
       		position: relative;
       		right: 0;
       		width: 100%;
     	}
}

input[type="text"]{
	width:100%;
}
input[type="email"]{
	width: 100%;
}
textarea{
	width: 100%;
}


// Form Style Ends


// Footer Style Starts

.align{

	-webkit-align-items: center;
	align-items: center;
	margin: auto;
}

// Footer Style Ends


// 404 Page Starts

.responsiveImg{
	background-image: url(img/nigel404.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-attachment: initial;
	background-size: cover;
	@media screen and (max-width: 480px) { 
		background-image: url(img/nigel404Small.jpg);
		background-attachment: initial;
		width: 100%;
	}

}
.error{
	position: absolute;
	top: 137px;
	width: 39%;
	@media screen and (max-width: 480px) { 
		
		position: absolute;
		top:0px;
		width: 80%;
		margin-left: 20px;	
	}

	h2{
		font-size: 122px;
		margin:0;
		line-height: 80px;
		color:#FBAF3C;
	}
	p{
		margin:0;
	}
		
}

// 404 Page Ends