.menu{
    // position: fixed;
    // top: 1%;
    // right: 10%;
}
.menu ul{
  display: flex;
  padding: 0;
  list-style: none;
}

.menu ul li a{
  padding:12px;
  color:#fff;
  // border: 1px solid #fff;
  transition: all .5s;
}


.container h1{
  background: url(img/nigel_1x1.jpg) no-repeat;
  width: 200px;
  text-indent: -999999px;
  margin: 0;
  height: 70px;
}

header{
  background:#FBAF3C;
}