.portfolio-items{
	display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;

	align-items:center;
	// margin-top: 10%;
	width: 50%;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	@media screen and (max-width:800px){
	// flex-direction:row;
	width: 100%;

	}
}

.portfolio{
		h3{
			@media screen and (max-width:400px){
	       		font-size: 60px;
	       		padding: 25px;
	     	}
		}

}

.portfolio-content{
	border: 1px solid orange;
	margin:5px;
	flex-direction: column;
	-webkit-flex-direction: column;
	background:#fff;
	display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	padding: 16px;
	h4{
		margin:0;
		padding: 11px;
		font-size: 35px;
	}
	p{
		padding-left: 11px;
		padding-bottom: 11px;
		font-size: 14px;
		margin:0;
	}
	a{
		background-color: #08616A;
		padding: 10px;
		color: #fff;
		margin-left: 5px;
		text-align: center;
		transition: all .5s;
		&:hover{
		background: #FBAF3C;
		// color:#08616A;

	}

	}

}
.portfolio-content img{
	width: 100%;
}


     
